<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Google Icon -->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script> 

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
    <title>createVolunteerItem</title>
    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

     <!--주소 검색 api-->
     <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- services 라이브러리 불러오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=73a7bf3da2a6472e3d0ca0cd49ccb6c3&libraries=services"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed;width: 100%; z-index:10;">
    <div class="container-fluid" style="justify-content: space-between;flex-wrap: nowrap; min-width: 1000px">
        <a class="navbar-brand" href={% url "content:community"%}><img style="width: 100px"
                                                src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png">
        </a>
        <div style="display: flex">
            <a href={% url "content:community"%} style="color: black">커뮤니티</a>
            &nbsp;  &nbsp;  &nbsp; 
            <a href={% url "content:search"%} style="color: black">봉사 검색</a>
            &nbsp;  &nbsp;  &nbsp; 
            {%if mainuser.role == 'Admin'%}
            <a href={% url "content:create_volunteer"%} style="color: black">봉사 추가</a>
            &nbsp;  &nbsp;  &nbsp; 
            {%endif%}
            <span id="nav_bar_add_box" class="material-icons-outlined" style="padding-right: 10px">add_box</span>
            &nbsp;  &nbsp;  &nbsp; 
            <div class="dropdown">
                <a href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="box" style="width: 40px; height: 40px">
                        <img class="profile"
                            src="{% get_media_prefix %}{{ mainuser.profile_image }}">
                    </div>
                </a>

                <ul class="dropdown-menu" style="left:-158px" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/main/profile">프로필</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
    <br/><br/><br/>
    <input type="text" disabled id="sample5_address" placeholder="주소">
    <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
    <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
    <br/>
    <div>제목 <input type="text" id="title"></div>
    <br/>
    <div>사진 <input type="file" class="custom-file-input file" id="file"></div>
    <br/>
    <div>인원 <input id="participant" type="number" min="1"/></div>
    <br/>
    <div>설명 <textarea id="description" type="text"/></textarea>
    <br/>
    <div>날짜 선택 <input id="date" type="date"/></div>
    <br/>
    <div>시작 시간 <input id="start_time" type="time"/></div>
    <br/>
    <div>종료 시간 <input id="end_time" type="time"/></div>
    <br/>
    <div>봉사 인정 시간 <input id="admit_time" type="number"/></div>
    <br/>
    <div><input style="display:none" id="user" type="text" value={{mainuser.email}}/></div>
    <div> <button type="submit" id="submit">등록 </button>
</body>
</html>

<form>
<script>

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };

//지도를 미리 생성
var map = new daum.maps.Map(mapContainer, mapOption);
//주소-좌표 변환 객체를 생성
var geocoder = new daum.maps.services.Geocoder();
//마커를 미리 생성
var marker = new daum.maps.Marker({
    position: new daum.maps.LatLng(37.537187, 127.005476),
    map: map
});

let lat;
let lng;

function sample5_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            var addr = data.address; // 최종 주소 변수

            // 주소 정보를 해당 필드에 넣는다.
            document.getElementById("sample5_address").value = addr;
            // 주소로 상세 정보를 검색
            geocoder.addressSearch(data.address, function(results, status) {
                // 정상적으로 검색이 완료됐으면
                if (status === daum.maps.services.Status.OK) {

                    var result = results[0]; //첫번째 결과의 값을 활용

                    // 해당 주소에 대한 좌표를 받아서
                    var coords = new daum.maps.LatLng(result.y, result.x);

                    lat = result.y
                    lng = result.x

                    // 지도를 보여준다.
                    mapContainer.style.display = "block";
                    map.relayout();
                    // 지도 중심을 변경한다.
                    map.setCenter(coords);
                    // 마커를 결과값으로 받은 위치로 옮긴다.
                    marker.setPosition(coords)
                }
            });
        }
    }).open();
}


$("#submit").click(function user_update() {
    let file = document.getElementById("file").files[0]
    let region = document.getElementById("sample5_address").value;
    let participant = document.getElementById("participant").value;
    let description = document.getElementById("description").value;
    let date = document.getElementById("date").value;
    let start_time = document.getElementById("start_time").value;
    let end_time = document.getElementById("end_time").value;
    let admit_time = document.getElementById("admit_time").value;
    let email = document.getElementById("user").value.slice(0, -1);
    let title = document.getElementById("title").value;

    let form_data = new FormData()

    form_data.append("file_give", file)
    form_data.append("region", region)
    form_data.append("participant", participant)
    form_data.append("description", description)
    form_data.append("date", date)
    form_data.append("start_time", start_time)
    form_data.append("end_time", end_time)
    form_data.append("admit_time", admit_time)
    form_data.append("email", email)
    form_data.append("title", title)
    form_data.append("lat", lat)
    form_data.append("lng", lng)

    //사진이 들어가지 않았을 때
$.ajax({
        type: "POST",
        url: "/main/createvolunteer",
        data: form_data,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
            alert("성공")
        },
    })
}
);
</script>