.box {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.searchBar {
  position: relative;
  width: 630px;
  height: 90px;
  padding: 5px;
  margin: 0 auto;
}
#searchbox {
  position: absolute;
  top: 10px;
  left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-style: none;
  background-color: white;
  align-items: center;
}

.button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-style: none;
  background-color: #b0fdb3;
}

input[type="search"]::placeholder {
  color: black;
}

.search_result {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  background-color: white;
  height: 30px;
  width: 110px;
  border-style: none;
  border-radius: 5px;
}

#vol_section {
  background-color: #b0fdb3;
}

.recommend {
  background-color: white;
  border-style: none;
}
.flex_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.flex_item {
  background-color: white;
  border-style: none;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.modal_window {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 800px;
  height: 600px;
  position: relative;
  padding: 10px;
}
