{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>누리봄에 오신 것을 환영합니다.</title>
</head>
<body class="container">
    <div class="header_container">
        <div class="header">
            <h1 class="header_title">누리봄</h1>
        </div>
        <div class="nav">
            <ul class="nav_ul">
                <li class="nav_li" onclick="">
                    <span class="nav_li_span">로그인</span>
                </li>
                <li class="nav_li" onclick="">
                    <span class="nav_li_span">회원가입</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="main_footer"></div>
</body>
</html>